# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec_overrides.yaml

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
